.footer {
  border-top: 1px solid var(--white-60, #fff9);
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  text-align: center;
  padding: 12px;
  width: -webkit-fill-available;
  /* position: relative;
  z-index: 3; */
}

.sharedFooter {
  background: var(--panou);
}

.dark {
  background: #161616;
}

.light {
  /* background: linear-gradient(270deg, #2e1746 3.2%, #2e225f 99.98%); */
  background: linear-gradient(270deg, #211746 3.2%, #3d23a5 99.98%);
}

.lightText {
  color: rgba(255, 255, 255, 0.8);
}

.footerText {
  transition: all 0.3s ease 0s;
}
.footerText:hover {
  color: #bedbb0;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 16px 28px 15.53px 32px;
    height: fit-content;
  }
  .footerText {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .footerText p + p {
    margin-left: 8px;
  }
}
